__pycache__/
logs/
results/
tmp/
model/
lightning_logs/
*tar*
*png*
*json*
*pkl*
*h5*
*csv*
*pt*
*pb*
*bin*
*checkpoint*
*ckpt*
grp
obj
prf
tre
val/
nohup.out
*zip
pl_log.txt
profiling*.stats
version_*/
outputs/
mlruns/
multirun/
*log*
*yaml*
*id*-ubyte*
*npz*
*npy*
.mypy_cache/
*.egg-info/
.pytest_cache/
htmlcov/
.coverage
coverage.xml